.red_strip {
  background: #AA212A;
  height: 60px;
  width: 100%; }
  .red_strip .container_strip {
    padding: 10px 100px; }
    .red_strip .container_strip .logo {
      height: 40px;
      padding-left: 40px; }
    .red_strip .container_strip .phone_number {
      float: right;
      font-size: 1rem;
      color: #fff;
      font-family: 'Lato';
      font-weight: 300; }

.video_hero_container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 63, 63, 0.45)), to(rgba(33, 34, 35, 0.04)));
  background: -webkit-linear-gradient(rgba(93, 63, 63, 0.45), rgba(33, 34, 35, 0.04));
  background: -o-linear-gradient(rgba(93, 63, 63, 0.45), rgba(33, 34, 35, 0.04));
  background: linear-gradient(rgba(93, 63, 63, 0.45), rgba(33, 34, 35, 0.04));
  padding: 0;
  position: relative;
  height: 850px;
  width: 100%; }
  .video_hero_container .video_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .video_hero_container .video_wrapper video {
      position: absolute;
      z-index: -9999;
      min-height: 100%;
      min-width: 100%; }
    .video_hero_container .video_wrapper .hero_sub_container {
      position: absolute;
      top: 40%;
      left: 30%; }
      .video_hero_container .video_wrapper .hero_sub_container .hero_header {
        font-family: 'Lato';
        font-weight: 700;
        color: #fff;
        font-size: 4rem;
        margin: 0; }
        .video_hero_container .video_wrapper .hero_sub_container .hero_header::after {
          content: "";
          display: block;
          width: 10%;
          border-bottom: 4px solid #AA212A; }
      .video_hero_container .video_wrapper .hero_sub_container .hero_sub_header {
        font-family: 'Lato';
        font-weight: 300;
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        text-align: center; }
      .video_hero_container .video_wrapper .hero_sub_container .hero_button {
        display: inline-block;
        background-color: #AA212A;
        color: #fff;
        font-size: 1rem;
        font-family: "Lato";
        font-weight: 200;
        padding: 5px 10px;
        margin-left: 45%; }

.demo {
  color: #fff; }

.navbar {
  position: absolute;
  height: 100px; }
  .navbar .nav-toggle {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    top: 35%;
    z-index: 999; }
    .navbar .nav-toggle span {
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 1px;
      background: #000;
      position: absolute;
      left: 0;
      background-color: #fff;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
      .navbar .nav-toggle span:nth-child(1) {
        top: 4px;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center; }
      .navbar .nav-toggle span:nth-child(2) {
        top: 14px;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center; }
      .navbar .nav-toggle span:nth-child(3) {
        top: 24px;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center; }
  .navbar .nav-layer {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    background: #EB5757;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #EB5757);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#000000), to(#EB5757));
    background: -webkit-linear-gradient(left, #000000, #EB5757);
    background: -o-linear-gradient(left, #000000, #EB5757);
    background: linear-gradient(to right, #000000, #EB5757);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .navbar .menu {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 10vh; }
    .navbar .menu ul {
      list-style: none; }
    .navbar .menu a {
      color: white;
      text-decoration: none;
      font-weight: 300;
      font-family: 'lato'; }

.navbar .nav-toggle.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px;
  left: 4px; }

.navbar .nav-toggle.open span:nth-child(2) {
  width: 0;
  opacity: 0; }

.navbar .nav-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  left: 4px; }

.navbar .nav-layer.open {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.navbar .menu.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
  z-index: 2; }

.publication_jcs .container-fluid {
  padding: 0;
  margin: 0; }

.publication_magazine_box {
  position: relative;
  display: block;
  margin: 0 auto; }
  .publication_magazine_box .publication_magazine_box_caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background-color: rgba(170, 33, 42, 0.929412);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    left: 0px;
    right: 0px; }
    .publication_magazine_box .publication_magazine_box_caption:hover {
      opacity: 1; }
    .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_caption_content {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
      padding: 40px;
      font-size: 1rem;
      font-family: 'Lato';
      font-weight: 300; }
      .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info a {
        color: #fff; }

.about_jcs {
  opacity: 0;
  padding: 120px 0px; }
  .about_jcs .about_jcs_paragraph {
    margin-top: 140px;
    font-size: 1.12rem;
    font-family: 'Lato';
    font-weight: 500; }

.what_we_have_done {
  padding: 150px 0;
  color: #fff;
  background-color: #000;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .what_we_have_done .done {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.12)), to(rgba(12, 12, 12, 0.34))), url("../img/field.jpg");
    background: -webkit-linear-gradient(rgba(8, 8, 8, 0.3), rgba(12, 12, 12, 0.34)), url("../img/field.jpg");
    background: -o-linear-gradient(rgba(8, 8, 8, 0.3), rgba(12, 12, 12, 0.34)), url("../img/field.jpg");
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.3)), to(rgba(12, 12, 12, 0.34))), url("../img/field.jpg");
    background: linear-gradient(rgba(8, 8, 8, 0.3), rgba(12, 12, 12, 0.34)), url("../img/field.jpg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 140%;
    top: 0;
    z-index: 1; }
  .what_we_have_done .content-wrapper {
    width: 90%;
    margin: 0px auto 0px auto;
    max-width: 1140px;
    position: relative;
    color: #fff;
    z-index: 1;
    font-family: "Lato"; }
    .what_we_have_done .content-wrapper h1 {
      margin-bottom: 50px; }
    .what_we_have_done .content-wrapper .we_number {
      font-family: 'Lato';
      font-weight: 100;
      font-size: 1.7rem;
      margin: 0; }
    .what_we_have_done .content-wrapper .we_do {
      font-family: 'Lato';
      font-weight: 700;
      font-size: 1.7rem;
      margin: 0; }
    .what_we_have_done .content-wrapper .we_done {
      font-weight: 100;
      font-family: 'Lato';
      font-size: 1.3rem;
      margin: 0; }

.services {
  padding: 170px 0;
  opacity: 0; }
  .services h1 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    color: #604F50; }
    .services h1::after {
      content: "";
      display: block;
      width: 11%;
      border-bottom: 4px solid #AA212A; }
  .services .padding {
    padding-top: 90px; }
  .services .card .card-body h2 {
    font-size: 1.3rem;
    color: #AA212A;
    font-family: 'Lato';
    font-weight: 400; }
  .services .card .card-body p {
    font-size: 1rem;
    font-family: 'Lato';
    font-weight: 300; }

.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(103, 9, 15, 0.75)), to(rgba(20, 7, 8, 0.75))), url("../img/almondbloom.jpg");
  background: -webkit-linear-gradient(rgba(103, 9, 15, 0.75), rgba(20, 7, 8, 0.75)), url("../img/almondbloom.jpg");
  background: -o-linear-gradient(rgba(103, 9, 15, 0.75), rgba(20, 7, 8, 0.75)), url("../img/almondbloom.jpg");
  background: linear-gradient(rgba(103, 9, 15, 0.75), rgba(20, 7, 8, 0.75)), url("../img/almondbloom.jpg");
  background-size: cover;
  background-position: center center;
  height: 720px; }
  .contact .contact_info {
    padding: 56px 153px; }
    .contact .contact_info .footer_info {
      color: #fff;
      font-size: 1.1rem;
      font-family: 'Lato';
      font-weight: 100; }
    .contact .contact_info h2 {
      padding-top: 30px;
      color: #fff;
      font-size: 2rem;
      font-family: 'Lato';
      font-weight: 400; }
      .contact .contact_info h2::after {
        padding-bottom: 20px;
        content: "";
        display: block;
        width: 164%;
        border-bottom: 2px solid #797575; }
    .contact .contact_info .phone {
      color: #fff;
      font-size: 1rem;
      font-family: 'Lato';
      font-weight: 100; }
      .contact .contact_info .phone::after {
        content: "";
        display: block;
        width: 164%;
        padding-bottom: 20px;
        border-bottom: 2px solid #797575; }
    .contact .contact_info .address {
      color: #fff;
      font-size: 1rem;
      font-family: 'Lato';
      font-weight: 100; }
      .contact .contact_info .address::after {
        content: "";
        display: block;
        width: 164%;
        padding-bottom: 20px;
        border-bottom: 2px solid #797575; }
    .contact .contact_info .email {
      color: #fff;
      font-size: 1rem;
      font-family: 'Lato';
      font-weight: 100; }
      .contact .contact_info .email::after {
        content: "";
        display: block;
        width: 164%;
        padding-bottom: 20px;
        border-bottom: 2px solid #797575; }
  .contact .white_box {
    background-color: #fff;
    height: 720px;
    margin: 0;
    padding: 90px 60px; }
    .contact .white_box h1 {
      font-family: 'Lato';
      font-weight: 700;
      font-size: 2.4rem;
      color: #604F50; }
      .contact .white_box h1::after {
        content: "";
        display: block;
        width: 10%;
        border-bottom: 4px solid #AA212A; }
    .contact .white_box p {
      font-family: 'Lato';
      font-weight: 100;
      font-size: 1rem;
      padding: 20px 0px; }
    .contact .white_box a {
      padding: 5px 20px;
      background-color: #AA212A;
      display: inline-block;
      margin-top: 20px;
      font-family: 'Lato';
      color: #fff; }

.social_media {
  height: 70px;
  background-color: #622D30; }
  .social_media nav ul li a i {
    font-size: 2rem;
    color: #411a1d;
    padding-top: 15px; }
    .social_media nav ul li a i:hover {
      color: #fff; }

.bottom_bar {
  height: 85px;
  background-color: #41191C;
  color: #fff;
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 20px; }

.our_services .our_services_no-gutter {
  padding: 0 !important;
  margin: 0 !important; }

.our_services .our_services_web {
  background-color: #AA212A;
  padding: 80px 55px 0px 55px;
  color: #fff;
  font-family: 'lato'; }
  .our_services .our_services_web h1 {
    font-weight: 700;
    font-size: 60px; }
  .our_services .our_services_web .our_services_sub_header {
    font-weight: 500;
    font-size: 30px; }
  .our_services .our_services_web p {
    font-size: 15px;
    font-weight: 300; }

.our_services .our_services_graphic_design {
  padding: 80px 55px 0px 55px;
  font-family: 'lato';
  color: #58585a; }
  .our_services .our_services_graphic_design h1 {
    font-weight: 700;
    font-size: 60px; }
  .our_services .our_services_graphic_design .our_services_sub_header {
    font-weight: 500;
    font-size: 30px; }
  .our_services .our_services_graphic_design p {
    font-size: 15px;
    font-weight: 300; }

.our_services .our_services_marketing {
  background-color: #AA212A;
  padding: 80px 55px 0 55px;
  color: #fff;
  font-family: 'lato'; }
  .our_services .our_services_marketing .our_services_sub_header {
    font-weight: 500;
    font-size: 30px; }
  .our_services .our_services_marketing h1 {
    font-weight: 700;
    font-size: 60px; }
  .our_services .our_services_marketing p {
    font-size: 15px;
    font-weight: 300; }

.our_services .our_services_trade_show {
  padding: 80px 55px 0 55px;
  color: #58585a;
  font-family: 'lato'; }
  .our_services .our_services_trade_show h1 {
    font-weight: 700;
    font-size: 60px; }
  .our_services .our_services_trade_show .our_services_sub_header {
    font-weight: 500;
    font-size: 30px; }
  .our_services .our_services_trade_show p {
    font-size: 15px;
    font-weight: 300; }

.our_publications .our_publications_no-gutter {
  padding: 0 !important;
  margin: 0 !important; }

.our_publications .wcngg {
  background-color: #AA212A;
  padding: 80px 55px 0px 55px;
  color: #fff;
  font-family: 'lato'; }
  .our_publications .wcngg h1 {
    font-weight: 700;
    font-size: 60px; }
  .our_publications .wcngg .our_publications_sub_header {
    font-weight: 500;
    font-size: 20px; }
  .our_publications .wcngg p {
    font-size: 15px;
    font-weight: 300; }
  .our_publications .wcngg .magazine_link {
    color: #fff; }
    .our_publications .wcngg .magazine_link:hover {
      text-decoration: none; }

.our_publications .pcc {
  padding: 80px 55px 0px 55px;
  font-family: 'lato';
  color: #58585a; }
  .our_publications .pcc h1 {
    font-weight: 700;
    font-size: 60px; }
  .our_publications .pcc .our_publications_sub_header {
    font-weight: 500;
    font-size: 20px; }
  .our_publications .pcc p {
    font-size: 15px;
    font-weight: 300; }
  .our_publications .pcc .magazine_link {
    color: #58585a; }
    .our_publications .pcc .magazine_link:hover {
      text-decoration: none; }

.our_publications .organicfarmer {
  background-color: #AA212A;
  padding: 80px 55px 0 55px;
  color: #fff;
  font-family: 'lato'; }
  .our_publications .organicfarmer h1 {
    font-weight: 700;
    font-size: 60px; }
  .our_publications .organicfarmer .our_publications_sub_header {
    font-weight: 500;
    font-size: 20px; }
  .our_publications .organicfarmer p {
    font-size: 15px;
    font-weight: 300; }
  .our_publications .organicfarmer .magazine_link {
    color: #fff; }
    .our_publications .organicfarmer .magazine_link:hover {
      text-decoration: none; }

@media only screen and (max-width: 1744px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 21%; } }

@media only screen and (max-width: 1666px) {
  .contact .contact_info {
    padding: 56px 136px; } }

@media only screen and (max-width: 1600px) {
  .contact .contact_info {
    padding: 56px 77px; } }

@media only screen and (max-width: 1400px) {
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    font-size: .9rem; } }

@media only screen and (max-width: 1283px) {
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    font-size: .8rem; }
  .contact .white_box {
    padding: 36px 60px; } }

@media only screen and (max-width: 1220px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 14%; }
  .contact .contact_info {
    padding: 56px 42px; } }

@media only screen and (max-width: 1166px) {
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    font-size: .7rem; } }

@media only screen and (max-width: 1040px) {
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    padding: 11px; } }

@media only screen and (max-width: 1037px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 8%; } }

@media only screen and (max-width: 996px) {
  .contact .contact_info h2::after {
    width: 120%; }
  .contact .contact_info .phone::after {
    width: 120%; }
  .contact .contact_info .address::after {
    width: 120%; }
  .contact .contact_info .email::after {
    width: 120%; } }

@media only screen and (max-width: 990px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 5%; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_button {
      font-size: 1.5rem; }
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    padding: 115px;
    font-size: 1.5rem; }
  .about_jcs .about_jcs_paragraph {
    margin-top: 39px;
    font-size: 1.2rem; }
  .what_we_have_done .done {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.7)), to(rgba(12, 12, 12, 0.34))), url("../img/field.jpg");
    background: -webkit-linear-gradient(rgba(8, 8, 8, 0.7), rgba(12, 12, 12, 0.34)), url("../img/field.jpg");
    background: -o-linear-gradient(rgba(8, 8, 8, 0.7), rgba(12, 12, 12, 0.34)), url("../img/field.jpg");
    background: linear-gradient(rgba(8, 8, 8, 0.7), rgba(12, 12, 12, 0.34)), url("../img/field.jpg");
    background-size: cover; }
  .what_we_have_done .content-wrapper .we_number {
    font-weight: 300; }
  .what_we_have_done .content-wrapper .we_done {
    font-size: 1.3rem;
    font-weight: 300; }
  .services .card .card-body h2 {
    font-size: 2rem; }
  .services .card .card-body p {
    font-size: 1.2rem; }
  .contact {
    height: 1260px; }
    .contact .contact_info .footer_info {
      font-size: 1.3rem; }
    .contact .contact_info h2::after {
      width: 10%; }
    .contact .contact_info .phone {
      font-size: 1.2rem; }
      .contact .contact_info .phone::after {
        width: 10%; }
    .contact .contact_info .address {
      font-size: 1.2rem; }
      .contact .contact_info .address::after {
        width: 10%; }
    .contact .contact_info .email {
      font-size: 1.2rem; }
      .contact .contact_info .email::after {
        width: 10%; }
    .contact .white_box p {
      font-size: 1.3rem; }
    .contact .white_box a {
      font-size: 1.4rem; } }

@media only screen and (max-width: 963px) {
  .contact {
    height: 1298px; } }

@media only screen and (max-width: 897px) {
  .video_hero_container {
    height: 696px; }
    .video_hero_container .video_wrapper .hero_sub_container {
      left: 12%; }
      .video_hero_container .video_wrapper .hero_sub_container .hero_header {
        font-size: 3rem; } }

@media only screen and (max-width: 794px) {
  .contact {
    height: 1330px; } }

@media only screen and (max-width: 783px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 13%; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_header {
      font-size: 2.7rem; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_button {
      margin-left: 38%; }
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    font-size: 1.3rem; } }

@media only screen and (max-width: 791px) {
  .contact {
    height: 1330px; } }

@media only screen and (max-width: 691px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 8%; }
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    padding: 70px;
    font-size: 1.2rem; }
  .services h1 {
    font-size: 3.2rem; }
  .contact .contact_info .footer_info {
    font-size: 1.1rem; } }

@media only screen and (max-width: 691px) {
  .contact {
    height: 1276px; } }

@media only screen and (max-width: 685px) {
  .contact {
    height: 1300px; } }

@media only screen and (max-width: 677px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 10%; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_header {
      font-size: 2.3rem; } }

@media only screen and (max-width: 588px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 7%; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_header {
      font-size: 2.1rem; }
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    padding: 21px;
    font-size: 1.01rem; }
  .contact {
    height: 1326px; } }

@media only screen and (max-width: 516px) {
  .contact {
    height: 1353px; } }

@media only screen and (max-width: 508px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 9%; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_header {
      font-size: 1.9rem; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_sub_header {
      font-size: 1.2rem; }
  .about_jcs .about_jcs_paragraph {
    font-size: 1.1rem;
    padding: 0px 40px; } }

@media only screen and (max-width: 489px) {
  .contact .white_box {
    padding: 20px 60px; } }

@media only screen and (max-width: 486px) {
  .contact {
    height: 1378px; } }

@media only screen and (max-width: 483px) {
  .contact {
    height: 1379px; }
    .contact .white_box {
      padding: 19px 60px; } }

@media only screen and (max-width: 472px) {
  .red_strip {
    height: 140px; }
    .red_strip .container_strip .logo {
      height: 76px; }
    .red_strip .container_strip .phone_number {
      float: left;
      margin-left: 30%;
      padding-top: 10px; }
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 5%; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_button {
      font-size: 1.3rem; }
  .services h1 {
    font-size: 2.3rem; }
  .contact .white_box {
    height: 800px;
    padding: 36px 60px; } }

@media only screen and (max-width: 470px) {
  .contact {
    height: 1459px; } }

@media only screen and (max-width: 445px) {
  .contact {
    height: 1513px; }
    .contact .white_box {
      height: 860px; } }

@media only screen and (max-width: 434px) {
  .video_hero_container .video_wrapper .hero_sub_container {
    left: 0%;
    top: 30%; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_header {
      font-size: 3rem;
      text-align: center; }
      .video_hero_container .video_wrapper .hero_sub_container .hero_header::after {
        width: 20%;
        margin-left: 40%; }
    .video_hero_container .video_wrapper .hero_sub_container .hero_sub_header {
      font-size: 2rem;
      margin: 0px 20px;
      padding: 15px 0px; }
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    font-size: .9rem; }
  .contact {
    height: 1489px; }
    .contact .white_box {
      height: 830px; } }

@media only screen and (max-width: 424px) {
  .contact {
    height: 1515px; } }

@media only screen and (max-width: 395px) {
  .publication_magazine_box .publication_magazine_box_caption .publication_magazine_box_info {
    font-size: .7rem; } }

@media only screen and (max-width: 393px) {
  .contact {
    height: 1540px; }
    .contact .white_box {
      height: 857px; } }

@media only screen and (max-width: 390px) {
  .contact {
    height: 1563px; } }

@media only screen and (max-width: 388px) {
  .red_strip .container_strip {
    padding: 10px 36px; }
  .video_hero_container .video_wrapper .hero_sub_container .hero_header {
    font-size: 2.2rem; }
  .video_hero_container .video_wrapper .hero_sub_container .hero_sub_header {
    font-size: 1.6rem; }
  .contact {
    height: 1596px; } }

@media only screen and (max-width: 377px) {
  .contact {
    height: 1622px; } }

@media only screen and (max-width: 372px) {
  .contact {
    height: 1662px; }
    .contact .white_box {
      height: 905px; } }

@media only screen and (max-width: 347px) {
  .contact {
    height: 1696px; } }

@media only screen and (max-width: 322px) {
  .contact {
    height: 1734px; }
    .contact .white_box {
      height: 923px; } }

@media only screen and (max-width: 320px) {
  .contact {
    height: 1759px; }
    .contact .white_box {
      height: 943px; } }
