footer
  script(src="js/jquery-3.2.1.min.js")
  script(src="js/typed.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
  script(src="js/bootstrap.min.js")
  script(src="js/myjs.js")
  section.contact
    div.container-fluid
      div.row
        div.col-lg-4.contact_info
          p.footer_info JCS Marketing Inc. is a full-service agriculture marketing firm operating in the heart of the San Joaquin Valley. Our goal is to provide resources to growers and ag professionals while supporting the needsJCS Marketing Inc. is a full-service agriculture marketing firm operating in the heart of the San Joaquin Valley. Our goal is to provide resources to growers and ag professionals while supporting the needs
          h2 Contact Us 
          p.phone 559-352-4456
          p.address P.O. BOX 27772, FRESNO, CA 93729
          p.email jcsmarketingoffice@gmail.com
        div.col-lg-5.white_box
          h1 Send Us A Message
          p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          form
            div.form-row.mt-3
              div.col
                input(type="text" placeholder="First Name").form-control
              div.col
                input(type="text" placeholder="Last Name").form-control
            div.form-row.mt-5
              div.col
                textarea(rows="9" placeholder="textarea").form-control#FormControl
                a(href="#") Send
        div.col-lg-1
  section.social_media
    nav
      ul.nav.justify-content-center
        li.nav-item
          a(href="https://www.facebook.com/JCSMarketinginc/" target="_blank").nav-link
            i.fab.fa-facebook-square
        li.nav-item
          a(href="https://twitter.com/jcs_marketing" target="_blank").nav-link
            i.fab.fa-twitter-square




  section.bottom_bar
    p.text-center jcs marketing inc
