footer
  script(src="js/jquery-3.2.1.min.js")
  script(src="js/typed.min.js")
  script(src="js/ScrollMagic.min.js")
  script(src="js/TweenMax.min.js")
  script(src="js/animation.gsap.min.js")
  script(src="js/debug.addIndicators.min.js")
  script(src="js/bootstrap.min.js")
  script(src="js/myjs.js")
  section.contact
    div.container-fluid
      div.row
        div.col-lg-4.contact_info
          p.footer_info  At JCS Marketing, our goal is to provide reliable resources to growers and Agriculture professionals through our publications: West Coast Nut, Progressive Crop Consultant, and Organic Farmer. Our trade shows, that range from northern California to southern California are another source of reliable information, education and a great way to network with the industry. At JCS Marketing we work hard to be a dependable outlet of information for the Agriculture industry.
          h2 Contact Us 
          p.phone 559-352-4456
          p.address P.O. BOX 27772, FRESNO, CA 93729
          p.email jcsmarketingoffice@gmail.com
        div.col-lg-5.white_box
          h1 Send Us A Message
          p Get in touch with the team at Jcs Marketing Inc. Fill out the form below and we'll get back to you as soon as possible.
          form
            div.form-row.mt-3
              div.col
                input(type="text" placeholder="First Name").form-control
              div.col
                input(type="text" placeholder="Last Name").form-control
            div.form-row.mt-5
              div.col
                textarea(rows="9" placeholder="textarea").form-control#FormControl
                a(href="#") Send
        div.col-lg-1
  section.social_media
    nav
      ul.nav.justify-content-center
        li.nav-item
          a(href="https://www.facebook.com/JCSMarketinginc/" target="_blank").nav-link
            i.fab.fa-facebook-square
        li.nav-item
          a(href="https://twitter.com/jcs_marketing" target="_blank").nav-link
            i.fab.fa-twitter-square




  section.bottom_bar
    p.text-center JCS Marketing, Inc.
