doctype html
html
  title Jcs Marketing Inc
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, inital-scale=1")
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/animate.css")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700")

div.red_strip
  div.container_strip
    img.img-fluid.logo(src="img/White_JCS_Logos_Final.png", alt="")
    div.phone_number
      i.fas.fa-phone 	&nbsp;
      span 333-333-3434
div.video_hero_container
  div.demo
    div.container-fluid
      div.row
        div.col-md-12
          div.navbar
            nav.menu
              div.nav-layer
              ul
                li
                  a(href="index.html") Home
                li
                  a(href="#") Publications
                li
                  a(href="#") Trade Shows
                li
                  a(href="services.html") Services
                li
                  a(href="#") Contact
            a(href="#").nav-toggle
              span
              span
              span
  div.video_wrapper
    video(autoplay loop)
      source(src="img/jcsmarketing.mp4")
    div.hero_sub_container
      h1.hero_header Welcome To JCS Marketing Inc
      p.hero_sub_header We Help With Your &nbsp;
        span.element
        
        
//bootstrap nav link for refrence      
//https://bootsnipp.com/snippets/35pvq
      //- a.hero_button Lets Go
//- div.hero_container
//-   div.hero_sub_container
//-     h1.hero_header Welcome To JCS Marketing Inc
//-     p.hero_sub_header We Help With Your &nbsp;
//-       span.element
//-     a.hero_button Lets Go
