include header.jade
body
  section.publication_jcs
    div.container-fluid
      div.row.no-gutters
        div.col-lg-4
          div.publication_magazine_box
            img.img-fluid(src="img/mixed_nuts.jpg", alt="A photo of mixed nuts")
            div.publication_magazine_box_caption
              div.publication_magazine_box_caption_content
                div.publication_magazine_box_category
                  div.publication_magazine_box_info
                    p West Coast Nut Magazine was created to better serve the needs of the nut industry, and it has exceeded the highest expectations since its creation in 2011. Our goals are simple: to be the best publication in the industry, offering high-quality editorial to readers while connecting advertisers with decision makers in every key market.
                    a(href="http://wcngg.com/") Click Here To Learn More
        div.col-lg-4
          div.publication_magazine_box
            img.img-fluid(src="img/strawberries.jpg", alt="A photo of straberries")
            div.publication_magazine_box_caption
              div.publication_magazine_box_caption_content
                div.publication_magazine_box_category
                  div.publication_magazine_box_info
                    p As the demand for efficient agriculture practices continues to become more important in our industry, the need for key resources and solutions becomes critical. Progressive Crop Consultant Magazine was designed to help today's crop consultant become more aware of cutting-edge information that moves California specialty crops forward.
                    a(href="http://progressivecrop.com/") Click Here To Learn More
        div.col-lg-4
          div.publication_magazine_box
            img.img-fluid(src="img/fruitandvegetables.jpg", alt="A of fuit and vegetables")
            div.publication_magazine_box_caption
              div.publication_magazine_box_caption_content
                div.publication_magazine_box_category
                  div.publication_magazine_box_info
                    p Organic Farmer was created with the goal of meeting the needs of organic farmers across the nation. With that goal in mind, Organic Farmer strives to provide our readers with must-read editorials from industry experts that will benefit your crop by helping you farm more effectively.
                    a(href="http://organicfarmermag.com/") Click Here To Learn More
  section.about_jcs.animated
    div.container
      div.row
        div.col-lg-6
          img(src="img/almondpaintsplater.png", alt="A paint splater with some almonds in front of it").img-fluid
        div.col-lg-6
          p.about_jcs_paragraph JCS Marketing Inc. is a full-service agriculture marketing firm operating in the heart of the San Joaquin Valley. Our goal is to provide resources to growers and ag professionals while supporting the needs of businesses and affiliates that serve the industry. We know ag from the inside out, and our talented team of professionals makes every client a priority. Whether you are launching a fledgling business, want to target a niche market, or have shaped the industry for years, we are prepared to take on the responsibility of representing your brand to the people that matter most.
  div.what_we_have_done
    div.done
    div.content-wrapper
      h1 What We Have Done
      div.container-fluid
        div.row
          div.col-lg-4
            p.we_number#counter1 0
            p.we_do PUBLICATIONS
            p.we_done For growers and professionals
          div.col-lg-4
            p.we_number#counter2 0
            p.we_do EVENTS
            p.we_done Held throughout California
          div.col-lg-4
            p.we_number#counter 0
            p.we_do SUBSCRIBERS
            p.we_done Across print and digital platforms          
  section.services.animated
    div.d-flex.justify-content-center
      h1 Services We Provide
    div.container.padding
      div.row
        div.col-lg-4
          div.card
            img.card-img-top(src="img/webdevelopment.jpg", alt="A photo that describes about the web development")
            div.card-body
              h2 Web Development
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
        div.col-lg-4
          div.card
            img.card-img-top(src="img/tradeshow.jpg", alt="A photo that describes about tradeshows")
            div.card-body
              h2 Trade Shows
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
        div.col-lg-4
          div.card
            img.card-img-top(src="img/idea.jpg", alt="A photo that describes about marketing")
            div.card-body
              h2 Marketing Deliverables 
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
  
include footer.jade
  
