include header.jade
div.our_publications
  div.container-fluid
    div.row.no-gutter
      div.col-lg-6.our_publications_no-gutter
        img(src="img/mixednutsinbowl_web.jpg", alt="A bowl of assorted nuts").img-fluid
      div.col-lg-6.wcngg
        h1 West Coast Nut 
        p.our_publications_sub_header California's Fast Growing Nut Publications
        p West Coast Nut Magazine was created to better serve the needs of the nut industry, and it has exceeded the highest expectations since its creation in 2011. Our goals are simple: to be the best publication in the industry, offering high-quality editorial to readers while connecting advertisers with decision makers in every key market. 
        a(href="http://wcngg.com/").magazine_link Click Here To Learn More
    div.row.no-gutter
      div.col-lg-6.pcc
        h1 Progressive Crop Consultant 
        p.our_publications_sub_header The Leading Magazine For CA Ag professionals
        p As the demand for efficient agriculture practices continues to become more important in our industry, the need for key resources and solutions becomes critical. Progressive Crop Consultant Magazine was designed to help today's crop consultant become more aware of cutting-edge information that moves California specialty crops forward.
        a(href="http://progressivecrop.com/").magazine_link Click Here To Learn More
      div.col-lg-6.our_publications_no-gutter
        img(src="img/field.jpg", alt="").img-fluid
    div.row.no-gutter
      div.col-lg-6.our_publications_no-gutter
        img(src="img/frutisveggies.jpg", alt="").img-fluid
      div.col-lg-6.organicfarmer
        h1 Organic Farmer Magazine
        p.our_publications_sub_header The Leading Magazine For Organic Farmers
        p Organic Farmer was created with the goal of meeting the needs of organic farmers across the nation. With that goal in mind, Organic Farmer strives to provide our readers with must-read editorials from industry experts that will benefit your crop by helping you farm more effectively.
        a(href="http://organicfarmermag.com/").magazine_link Click Here To Learn More
include footer.jade
