include header.jade
div.our_services
  div.container-fluid
    div.row.no-gutter
      div.col-lg-6.our_services_no-gutter
        img(src="img/webdevelopment.jpg", alt="").img-fluid
      div.col-lg-6.our_services_web
        h1 Web
        p.our_services_sub_header Strengthen Your Digital Presence
        p Where are your customers?  We can connect your company to the audience you want through custom website design.  Your website should tell a story about your company and provide users with an experience that is reflective of your brand. Our team of web designers and developers craft websites that create positive UX/UI designs that can drive growth for your business.
        p •  Web Development 
        p •  E-Commerce 
        p •  Custom Plugins 
        p •  Website Management/Hosting
    div.row.no-gutter
      div.col-lg-6.our_services_graphic_design
        h1 Graphics 
        p.our_services_sub_header Design Tailored to You
        p Your brand needs to make a unique visual impact to be effective. Whether you’re kicking off a new campaign, launching a new product or unveiling your brand for the first time, we will find a creative solution to meet your needs. At JCS Marketing, we know the ag business from the inside out, and look forward to working with you to create eye-catching pieces that are tailored directly to your business.
        p •  Advertisements
        p •  Business Cards
        p •  Postcards
        p •  Show Booth Graphics
      div.col-lg-6.our_services_no-gutter
        img(src="img/techcompany.jpg", alt="").img-fluid
    div.row.no-gutter
      div.col-lg-6.our_services_no-gutter
        img(src="img/idea.jpg", alt="").img-fluid
      div.col-lg-6.our_services_marketing
        h1 Promotional
        p.our_services_sub_header Make Your Brand Memorable
        p By applying our industry knowledge, we provide custom imprinted branded products that are specific to your needs. Our talented team of passionate promo specialists work with you to create unique promotional items. We take pride in delivering quality product to help your brand stand out from the pack.
        p •  Pens
        p •  Mugs/Water Bottles
        p •  Apparel, Hats & More
        p •  Trade Show Giveaways
    div.row.no-gutter
      div.col-lg-6.our_services_trade_show
        h1 Trade Show
        p.our_services_sub_header Your Trade Show Needs
        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like
        p • Stuffs
        p • Stuffs 2
        p • Stuffs 3
        p • Stuffs 4
      div.col-lg-6.our_services_no-gutter
        img(src="img/tradeshow.jpg", alt="").img-fluid
    
        
        

          
include footer.jade
